@import "../include/variable";

.m_page {
    background-color: #161f2e;
    background-image: url('../images/dota2.jpg');
    /*background-attachment: fixed;*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image ease-out 0.25s;
    -webkit-transition: background-image ease-out 0.25s;
    -o-transition: background-image ease-out 0.25s;
    -moz-transition: background-image ease-out 0.25s;
    width: 100%;
}
.counter{
    color: white;
}
.middle_content {
    @include pie-clearfix;
    padding: 25px 5px;

    button {
        padding: 9px 30px;
        background-color: rgba(51,122,183, 0.4);
        color: #fff;
        border-color: transparent;
        box-shadow: 0 0 transparent;
        opacity: 0.8;

        &[disabled=disabled] {
            color: #FF6F00;
            opacity: 1;
        }

        &:hover{
            opacity: 1;
             
        }
        &.active, &[disabled="disabled"]{
            @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
            background-color: #337ab7!important;
            opacity: 1;
        }
    }

 
}

.m_c_item {
    float: left;
}

.m_c_left {
    width: 25%;

    

    & + .m_c_right {
        width: 75%;
        padding-left: 30px;

        .product {
            &.games {
                .p_name {
                    min-height: auto;
                }
            }

            &:nth-of-type(-n+3) {
                margin-top: 0;
            }

            &:nth-of-type(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            margin-top: 15px;
            box-shadow: 0 0 12px rgba(0,0,0, 1);
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            opacity: 0.8;
            float: left;
            width: calc((100% - 15px*2) / 3);
            margin-left: 15px;
            position:relative;

            > div {
                width: 100%;
            }

            .p_name {
                bottom: 0;
                position: absolute;
                min-height: 88px;
                padding: 7px;
               background-color: rgba(0, 0, 0, 0.7);
            }

            .p_n_language {
                margin-bottom: 10px;
            }

            .p_cost {
                color: #337ab7;
                  font-size: 24px;
                position: absolute;
                bottom: 7px;
            }

            .p_image {
                float: none;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .menu {
        .menu_item {
            cursor: pointer;
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            border-bottom-width: 0;
        

            &.games {
                &:hover{
                     background-color: #337ab7;
                    
                }
                  background-color: rgba(51,122,183, 0.4);
                padding: 10px 5px;
            }

            &:last-of-type {
                border-bottom-width: 1px;
            }

            &.search {
                input[type=text] {
                    padding: 10px 5px;
                    width: 100%;
                    background-color: transparent;
                    border-width: 0;
                    display: block;
                    color: white;

                   
                }
            }

            input {
                display: none;
            }

            &:hover {

                border-color: white;
                opacity: 1;

                + .menu_item {
                    border-top-color: white;
                }
            }
        }

        &.menu_lvl_1 {
            input {
                &:checked ~ .menu_lvl_2 {
                    display: block;
                }
            }

            label {
                display: block;
                padding: 10px 5px;
                 background-color: rgba(51,122,183, 0.4);
                  &:hover{
                       background-color: #337ab7;
                  }
            }
           
        }


        &.menu_lvl_2 {
            border-top: 1px solid hsla(0, 0%, 100%, 0.07);
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            z-index: 10;
            display: none;
            padding-left: 10px;

            .menu_item {
                border-color: transparent;
                border-width: 0;
                border-bottom-width: 1px;
                padding: 10px 5px;
                  background-color: rgba(51,122,183, 0.4);
                &:hover, &.active {
                    border-color: white;
                    background-color: #337ab7;
                }
            }
        }
    }

    ul {
        //li{
        //  &:hover, &.active{
        //    background-color: rgba(0, 174, 255, 0.7);
        //  }
        //}
        ul {
            display: none;
            margin-top: 5px;
            padding-left: 15px;
            @include border-radius(0);
            border-width: 0;
            border-top-width: 1px;
            clear: both;
            padding-bottom: 0;
        }

        > li {
            @include pie-clearfix;

            &.active {
                ul {
                    display: block;
                }
            }

            > span {
                padding: 5px;
            }
            /*&.l{
        &:before{
          background-position: -25px 0;
        }
      }
      &.h{
        &:before {
          background-position: -50px 0;
        }
      }
      &.w_o_w{
        &:before {
          background-position: -75px 0;
        }
      }
      &.d{
        &:before {
          background-position: -100px 0;
        }
      }
      &.l_o_l{
        &:before{
          background-position: -125px 0;
        }
      }
          */
            &.games {
                align-items: center;
                display: flex;
            }

            cursor: pointer;
            @include pie-clearfix;
            font-size: 16px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
            /*padding: 10px 5px;*/
            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }
}

.m_c_right {
    @include pie-clearfix;
    width: 100%;

    .product {
        .p_name {
              font-size: 24px;
            width: 70%;
            padding-right: 10px;
        }

        .p_image {

            float: right;
            width: 30%;
           
           
        }
    }

    .total_cost {
      
        font-size: 24px;
        color: #337ab7;
        margin: 40px 0;
    }
}





@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}


