@import "../include/variable";

.m_page {
    background-color: #161f2e;
    background-image: url('../images/dota2.jpg');
    /*background-attachment: fixed;*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image ease-out 0.25s;
    -webkit-transition: background-image ease-out 0.25s;
    -o-transition: background-image ease-out 0.25s;
    -moz-transition: background-image ease-out 0.25s;
    width: 100%;
}

.middle_content {
    @include pie-clearfix;
    padding: 25px 5px;

    button {
        padding: 9px 30px;
        background-color: rgba(51,122,183, 0.4);
        color: #fff;
        border-color: transparent;
        box-shadow: 0 0 transparent;
        opacity: 0.8;

        &[disabled=disabled] {
            color: #FF6F00;
            opacity: 1;
        }

        &:hover{
            opacity: 1;
             
        }
        &.active, &[disabled="disabled"]{
            @include box-shadow(rgba(blue, 0.4) 0 0 25px, rgba(green, 0.2) 0 0 3px 1px inset);
            background-color: #337ab7!important;
            opacity: 1;
        }
    }

 
}

.m_c_item {
    float: left;
}

.m_c_left {
    width: 25%;

    .counter {
        color: rgba(120, 120, 120, 0.75);
    }

    & + .m_c_right {
        width: 75%;
        padding-left: 30px;

        .product {
            &.games {
                .p_name {
                    min-height: auto;
                }
            }

            &:nth-of-type(-n+3) {
                margin-top: 0;
            }

            &:nth-of-type(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            margin-top: 15px;
            box-shadow: 0 0 12px rgba(0,0,0, 1);
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            opacity: 0.8;
            float: left;
            width: calc((100% - 15px*2) / 3);
            margin-left: 15px;
            position:relative;

            > div {
                width: 100%;
            }

            .p_name {
                bottom: 0;
                position: absolute;
                min-height: 88px;
                padding: 7px;
               background-color: rgba(0, 0, 0, 0.7);
            }

            .p_n_language {
                margin-bottom: 10px;
            }

            .p_cost {
                color: #337ab7;
                  font-size: 24px;
                position: absolute;
                bottom: 7px;
            }

            .p_image {
                float: none;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .menu {
        .menu_item {
            cursor: pointer;
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            border-bottom-width: 0;
        

            &.games {
                &:hover{
                     background-color: #337ab7;
                     .counter{
                         color: white;
                     }
                }
                  background-color: rgba(51,122,183, 0.4);
                padding: 10px 5px;
            }

            &:last-of-type {
                border-bottom-width: 1px;
            }

            &.search {
                input[type=text] {
                    padding: 10px 5px;
                    width: 100%;
                    background-color: transparent;
                    border-width: 0;
                    display: block;
                    color: white;

                    @include input-placeholder {
                        opacity: 1;
                    }
                }
            }

            input {
                display: none;
            }

            &:hover {

                border-color: white;
                opacity: 1;

                + .menu_item {
                    border-top-color: white;
                }
            }
        }

        &.menu_lvl_1 {
            input {
                &:checked ~ .menu_lvl_2 {
                    display: block;
                }
            }

            label {
                display: block;
                padding: 10px 5px;
                 background-color: rgba(51,122,183, 0.4);
                  &:hover{
                       background-color: #337ab7;
                  }
            }
           
        }

        &.menu_lvl_2 {
            border-top: 1px solid hsla(0, 0%, 100%, 0.07);
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            z-index: 10;
            display: none;
            padding-left: 10px;

            .menu_item {
                border-color: transparent;
                border-width: 0;
                border-bottom-width: 1px;
                padding: 10px 5px;
                  background-color: rgba(51,122,183, 0.4);
                &:hover, &.active {
                    border-color: white;
                    background-color: #337ab7;
                }
            }
        }
    }

    ul {
        //li{
        //  &:hover, &.active{
        //    background-color: rgba(0, 174, 255, 0.7);
        //  }
        //}
        ul {
            display: none;
            margin-top: 5px;
            padding-left: 15px;
            @include border-radius(0);
            border-width: 0;
            border-top-width: 1px;
            clear: both;
            padding-bottom: 0;
        }

        > li {
            @include pie-clearfix;

            &.active {
                ul {
                    display: block;
                }
            }

            > span {
                padding: 5px;
            }
            /*&.l{
        &:before{
          background-position: -25px 0;
        }
      }
      &.h{
        &:before {
          background-position: -50px 0;
        }
      }
      &.w_o_w{
        &:before {
          background-position: -75px 0;
        }
      }
      &.d{
        &:before {
          background-position: -100px 0;
        }
      }
      &.l_o_l{
        &:before{
          background-position: -125px 0;
        }
      }
          */
            &.games {
                align-items: center;
                display: flex;
            }

            cursor: pointer;
            @include pie-clearfix;
            font-size: 16px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
            /*padding: 10px 5px;*/
            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }
}

.m_c_right {
    @include pie-clearfix;
    width: 100%;

    .product {
        .p_name {
              font-size: 24px;
            width: 70%;
            padding-right: 10px;
        }

        .p_image {

            float: right;
            width: 30%;
            .photo{
                cursor: pointer;
                margin-top:5px;
                margin-right: 5px;
                width: calc((100% - 5px*3)/4);
                float:left;
                &:nth-of-type(4n){
                     margin-right: 0;
                }
            }
            img {
                &:not(.active){
                        background-color: rgba(0, 0, 0, 0.7);
                }
                width: 100%;
                cursor: pointer;
            }
        }
    }

    .total_cost {
         text-shadow: 1px 1px 1px rgba(255, 255, 255, 1);
        font-size: 24px;
        color: #337ab7;
        margin: 40px 0;
    }
}



.menu_lvl_1 {
    > div {
        cursor: pointer;
        @include pie-clearfix;
        font-size: 16px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
        /*padding: 10px 5px;*/
        &:last-of-type {
            border-bottom-width: 0;
        }
    }
}

.footer_block {
    padding: 10px 0;
    font-size: 16px;
    .help{
        & > *{
            padding-left: 26px;
        }
       position: relative;
        &:before{
           background-image: image-url("question.png");
           content: "";
           position: absolute;
            
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
    }
    .title{
        font-weight: bold;
    }
    p, .title{
        margin-bottom: 1em;
    }
    p{
        &:hover{
            color: #337AB7;
        }
    }
    .footer_content {
        padding: 5px;
        @include pie-clearfix;
        & > *{
            width: 25%;
            float: left;
            &.social_links{
                 width: 30%;
                float: left;
            }
            &.dropup{
                width: 20%;
            }
        }
    }
   
    

    .btn {
       
        &:focus{
            outline: none;
        }
         &:before {
            display: block;
            content: "";
            float: left;
            width: 16px;
            height: 16px;
            background-image: image-url("planet.png");
            margin-right: 5px;
        }
         float: right;
         font-size: 18px;
        color: white;
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        line-height: 16px;
        padding: 0;
    }

    .dropdown-menu {
        a{
            &:hover{
                    background: rgba(255,255,255,.05)!important;
            }
            color: white!important;
        }
        .title{
            padding: 3px 20px;
            margin-bottom:10px;
            color: rgba(255,255,255,.3);
        }
        margin-bottom: 20px!important;
        left: calc(100% - 170px);
        padding: 20px 0;
        box-shadow: 0 0 12px black;
        border: 1px solid rgba(255, 255, 255, 0.07);
        background-color: #232935 !important;
        min-width: 170px;
    }
}

.social_links {
   
    a {
        display: inline-block;
        width: 32px;
        height: 32px;
       

        &.fb {
            background-image: image-url("facebook.png");
        }

        &.vk {
             background-image: image-url("vk.png");
        }

        &.in {
            background-image: image-url("instagram.png");
            
        }
    }
}
.accordion {
    h5{
        font-size: 25px;
        font-weight: bold;
    }
    line-height: 1.5;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  list-style: none;
}

.accordion_item:last-of-type {
  border-bottom: none;
}
/**
* Ёлемент label который запускает открыть/закрыть.
*/
.accordion_trigger {
  display: block;
 background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
  font-weight: normal;
  cursor: pointer;
  padding: 1.2em;
}
 
/* мен€ем цвет фона у активного переключател€ */
 
.accordion_toggle:checked ~ .accordion_trigger {
 background-color: rgba(0, 0, 0, 0.9);
}
 
/**
 * эти элементы radio/checkbox всегда должны быть скрыты.
 */
.accordion_toggle {
  position: absolute;
  display: none;
}
/**
* скрытое содержание аккордеона.
*/
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
 
}
/**
* когда переключатель checked на radio/checkbox, показать содержимое аккордеона.
*/    
.accordion_toggle:checked ~ .accordion_target {
  position: static;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: 1.2rem;
  width: auto;
  height: auto;
/* задержка по€влени€  функци€ анимации */
  -webkit-animation:fadeIn ease-in 0.5s; 
  -moz-animation:fadeIn ease-in 0.5s;
  animation:fadeIn ease-in 0.5s; 
}
/* анимаци€ при по€влении блоков с содержанием */
@-moz-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fadeIn {
    from { opacity: 0; }
to { opacity: 1 }
}


    .dropdown-menu{
        a{
            &:hover{
                background-color: rgba(51,122,183, 0.4)!important;
            }
             
            color: white!important;
            
        }
        padding: 0!important;
        background-color: rgb(0, 0, 0)!important;
    }



    .btn-success{
        width: 100%;
        border-width: 0!important;
        background-color: #337ab7 !important;
        @include border-radius(0);
    }