
.menu_lvl_1 {
    > div {
        cursor: pointer;
        @include pie-clearfix;
        font-size: 16px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
        /*padding: 10px 5px;*/
        &:last-of-type {
            border-bottom-width: 0;
        }
    }
}