<div class="middle_content m_c_items">
    <div class="m_c_right m_c_item">
        <ul class="accordion">
            <li class="accordion_item">
                <input type="radio" class="accordion_toggle" name="accordion-01" id="care" ng-model="accordeonValue" value="care" hidden>
                <label class="accordion_trigger" for="care">Уход</label>
                <div class="accordion_target">
                    <p>
                        <h5>Уход за футболками.</h5>
                        <br />
                        Рекомендуется  стирать футболки с принтом вручную. Допускается также машинная стирка при температуре воды не более 40 градусов и только в деликатном режиме. Перед стиркой изделие стоит вывернуть наизнанку. Не стоит использовать агрессивные и отбеливающие моющие средства. При желании в воду можно добавить смягчающие средства или любимый кондиционер. Что касается отжима, то не стоит сильно перекручивать футболку, иначе можно нарушить рисунок и структуру волокон, особенно если речь идет о хлопковых моделях. Изделия с синтетическими волокнами гораздо прочнее, поэтому их можно смело стирать в стиральной машинке. Небольшие пятна можно выводить с помощью специальных средств. Для этого нужно нанести прямо на пятно небольшое количество средства, оставить его на несколько минут, а затем просто постирать вещь.<br />
                        Очень важно правильно гладить футболки. Делать это стоит лишь с изнанки при температурном режиме, рассчитанном для деликатных тканей. При желании можно отпарить изделие и с лицевой стороны, но для этого нужно использовать марлевую ткань.<br/><br/>
                        <h5>Уход за другими изделиями</h5>
                        <br/>
                        Чтото связанное с уходом...
                    </p>
                </div>
            </li>
            <li class="accordion_item">
                <input type="radio" class="accordion_toggle" name="accordion-01" id="delivery" ng-model="accordeonValue" value="delivery" hidden>
                <label class="accordion_trigger" for="delivery">Доставка</label>
                <div class="accordion_target">
                    <p>
                        Здесь размещаете любое содержание....
                    </p>
                </div>
            </li>
            <li class="accordion_item">
                <input type="radio" class="accordion_toggle" name="accordion-01" id="return" ng-model="accordeonValue" value="return" hidden>
                <label class="accordion_trigger" for="return">Возврат</label>
                <div class="accordion_target">
                    <p>
                        <h5>Политика возврата</h5>
                        <br />
                        Высокое качество исполнения нашего товара позволяет гарантировать отсутствие брака. Однако, в том крайне маловероятном случае, если вам все же достался товар с браком – мы без возражений обменяем его на товар надлежащего качества.<br />
                        А может вам просто не подошел размер или вы думали, что футболка(или другой товар) выглядит несколько иначе? Тоже не проблема! В течение двух недель с момента получения вы имеете полное право вернуть или обменять сделанную у нас покупку, если она не соответствует вашим требованиям.
                        <br />
                        <br />
                        <h5>Чтобы обменять товар:</h5>

                        <br />
                        1. Товар должен быть в надлежащем виде: футболки , батники не должны быть ношенные или стиранные.<br />
                        2. Вы оплачиваете обратную доставку для обмена или привозите сами товар к нам в офис (или на точку самовывоза).

                    </p>
                </div>
            </li>
            <li class="accordion_item">
                <input type="radio" class="accordion_toggle" name="accordion-01" id="payment" ng-model="accordeonValue" value="payment" hidden>
                <label class="accordion_trigger" for="payment">Способы Оплаты</label>
                <div class="accordion_target">
                    <p>
                        Здесь размещаете любое содержание....
                    </p>
                </div>
            </li>
            <li class="accordion_item">
                <input type="radio" class="accordion_toggle" name="accordion-01" id="contact" ng-model="accordeonValue" value="contact" hidden>
                <label class="accordion_trigger" for="contact">Связаться с нами</label>
                <div class="accordion_target">
                    <p>
                        Здесь размещаете любое содержание....
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>