.header_block{
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
}
.header_content{
  padding:0 5px;
  .h_link{
    &.games{
      width: 120px;
      height: 20px;
      padding: 0;

    }
    &.shop{

      padding: 0;
      float: right;
      margin-top: 20px;
      .dropbtn{
        background-image: image-url('iconmonstr-checkout-1-24.png');
        width: 24px;
        height: 24px;
        border: none;
        cursor: pointer;
        background-color: transparent;
      }
    }
    vertical-align: middle;
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover, &.active{
      color:white;
    }
  }
  .products{
    background-color: rgba(0, 0, 0, 0.9);
    width: 200px;
    margin-left: -176px;
    z-index: 2;
    position: absolute;
    .product {
      cursor: pointer;
    }

  }
}

/* Dropdown button on hover & focus */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
}
/* Links inside the dropdown */
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

