.header_block{
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
}
.header_content{
  padding:0 5px;
  .h_link{
    padding: 20px;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    &:hover, &.active{
      color:white;
    }
  }
}


