@import "../include/variable";

.m_page {
    background-image: url('../images/41101825-game-wallpapers.jpg?1477225286');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-image ease-out 0.25s;
    -webkit-transition: background-image ease-out 0.25s;
    -o-transition: background-image ease-out 0.25s;
    -moz-transition: background-image ease-out 0.25s;
    width: 100%;
}

.middle_content {
    @include pie-clearfix;
    padding: 25px;

    button {
        padding: 9px 30px;
        background-color: rgba(0, 130, 92, 0.4);
        color: #fff;
        border-color: transparent;
        box-shadow: 0 0 transparent;
        opacity: 0.8;

        &[disabled=disabled] {
            color: #FF6F00;
            opacity: 1;
        }

        &:hover {
            opacity: 1;
        }
    }

    .default_border {
    }
}

.m_c_item {
    float: left;
}

.m_c_left {
    width: 25%;

    .counter {
        color: rgba(120, 120, 120, 0.75);
    }

    & + .m_c_right {
        width: 75%;
        padding-left: 30px;

        .product {
            &.games {
                .p_name {
                    min-height: auto;
                }
            }

            &:nth-of-type(-n+3) {
                margin-top: 0;
            }

            &:nth-of-type(3n + 1) {
                clear: both;
                margin-left: 0;
            }

            margin-top: 15px;
            box-shadow: 0 0 12px rgba(0,0,0, 1);
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            opacity: 0.8;
            float: left;
            width: calc((100% - 15px*3) / 3);
            margin-left: 15px;

            > div {
                width: 100%;
            }

            .p_name {
                position: relative;
                min-height: 88px;
                padding: 7px;
                background-color: rgba(0, 130, 92, 0.4);
            }

            .p_n_language {
                margin-bottom: 10px;
            }

            .p_cost {
                position: absolute;
                bottom: 7px;
            }

            .p_image {
                float: none;
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    .menu {
        .menu_item {
            cursor: pointer;
            border: 1px solid hsla(0, 0%, 100%, 0.07);
            border-bottom-width: 0;
            opacity: 0.8;

            &.games {
                padding: 10px 5px;
            }

            &:last-of-type {
                border-bottom-width: 1px;
            }

            &.search {
                input[type=text] {
                    padding: 10px 5px;
                    width: 100%;
                    background-color: transparent;
                    border-width: 0;
                    display: block;
                    color: white;

                    @include input-placeholder {
                        opacity: 1;
                    }
                }
            }

            input {
                display: none;
            }

            &:hover {
                border-color: hsla(0, 0%, 100%, 0.4);
                opacity: 1;

                + .menu_item {
                    border-top-color: hsla(0, 0%, 100%, 0.4);
                }
            }
        }

        &.menu_lvl_1 {
            input {
                &:checked ~ .menu_lvl_2 {
                    display: block;
                }
            }

            label {
                display: block;
                padding: 10px 5px;
            }
        }

        &.menu_lvl_2 {
            border-top: 1px solid white;
            margin-bottom: 10px;
            overflow: hidden;
            position: relative;
            z-index: 10;
            display: none;

            .menu_item {
                border-color: transparent;
                border-width: 0;
                border-bottom-width: 1px;
                padding: 10px 5px;

                &:hover, &.active {
                    border-color: hsla(0, 0%, 100%, 0.4);
                }
            }
        }
    }

    ul {
        //li{
        //  &:hover, &.active{
        //    background-color: rgba(0, 174, 255, 0.7);
        //  }
        //}
        ul {
            display: none;
            margin-top: 5px;
            padding-left: 15px;
            @include border-radius(0);
            border-width: 0;
            border-top-width: 1px;
            clear: both;
            padding-bottom: 0;
        }

        > li {
            @include pie-clearfix;

            &.active {
                ul {
                    display: block;
                }
            }

            > span {
                padding: 5px;
            }
            /*&.l{
        &:before{
          background-position: -25px 0;
        }
      }
      &.h{
        &:before {
          background-position: -50px 0;
        }
      }
      &.w_o_w{
        &:before {
          background-position: -75px 0;
        }
      }
      &.d{
        &:before {
          background-position: -100px 0;
        }
      }
      &.l_o_l{
        &:before{
          background-position: -125px 0;
        }
      }
          */
            &.games {
                align-items: center;
                display: flex;
            }

            cursor: pointer;
            @include pie-clearfix;
            font-size: 16px;
            border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
            /*padding: 10px 5px;*/
            &:last-of-type {
                border-bottom-width: 0;
            }
        }
    }
}

.m_c_right {
    @include pie-clearfix;
    width: 100%;

    .product {
        .p_name {
            width: 70%;
            padding-right: 10px;
        }

        .p_image {
            float: right;
            width: 30%;

            img {
                width: 100%;
            }
        }
    }

    .total_cost {
        margin-top: 50px;
    }
}



.menu_lvl_1 {
    > div {
        cursor: pointer;
        @include pie-clearfix;
        font-size: 16px;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
        /*padding: 10px 5px;*/
        &:last-of-type {
            border-bottom-width: 0;
        }
    }
}

.footer_block {
    .footer_content {
        padding: 5px;
        @include pie-clearfix;
        
    }
    .dropup{
        
        float: right;
    }
    

    .btn {
        &:focus{
            outline: none;
        }
         &:before {
            display: block;
            content: "";
            float: left;
            width: 48px;
            height: 48px;
            background-image: image-url("planet.png");
            margin-right: 5px;
        }
         font-size: 18px;
        color: white;
        background-color: transparent;
        border-width: 0;
        border-radius: 0;
        line-height: 48px;
        padding: 0;
    }

    .dropdown-menu {
        a{
            &:hover{
                    background: rgba(255,255,255,.05)!important;
            }
            color: white!important;
        }
        .title{
            padding: 3px 20px;
            margin-bottom:10px;
            color: rgba(255,255,255,.3);
        }
        margin-bottom: 20px!important;
        left: calc(100% - 170px);
        padding: 20px 0;
        box-shadow: 0 0 12px black;
        border: 1px solid rgba(255, 255, 255, 0.07);
        background-color: #232935 !important;
        min-width: 170px;
    }
}

.social_links {
   float: left;
    a {
        display: inline-block;
        background-image: image-url("2013-04-25_164200.png");
        width: 47px;
        height: 47px;
        background-position: -68px -17px;

        &.fb {
            background-position: -127px -17px;
        }

        &.vk {
            background-position: -68px -17px;
        }

        &.in {
            background-image: image-url("instagram.png");
            background-position: center center;
        }
    }
}
