*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color:#fff;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}
ol, ul {
  list-style: none;
}
img{
  display: block;
}
input[type=checkbox] {
    display: none;
}
.counter{
    color: gray;
}
body, html{
    height: 100%;
}
a, ins { 
  text-decoration: none; 
  color: inherit;
  } 
