.slider-wrap{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.slider {
  max-width: 960px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}
.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.slide1 {
  background-image: image-url("dota2_load1-960x300.jpg");
  background-size: cover;
  animation:fade 8s infinite;
  -webkit-animation:fade 8s infinite;

}
.slide2 {
  background-image: image-url("halfLife2.jpg");
  background-size: cover;
  animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}
.slide3 {
  background-image: image-url("wow.jpg");
  background-size: cover;
  animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
}
@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}