
<div class="middle_content m_c_items">
    <div class="m_c_left m_c_item">

        
        <section class="menu menu_lvl_1">
            <div class="menu_item search">
                <input type="text" ng-model="sortObject.SearchString" ng-change="applySortChanges()" placeholder="Поиск..." ng-show="language === 'ru-RU'" />
                <input type="text" ng-model="sortObject.SearchString" ng-change="applySortChanges()" placeholder="Search..." ng-show="language === 'en-US'" />
                <input type="text" ng-model="sortObject.SearchString" ng-change="applySortChanges()" placeholder="Cautare..." ng-show="language === 'ro-MD'" />
            </div>
                <div class="menu_item">
                    <input id="ac-1" name="accordion-1" type="checkbox" />
                    <label for="ac-1">
                        <span ng-show="language === 'ru-RU'">Сортировка по Дате</span>
                        <span ng-show="language === 'en-US'">Sort by Date</span>
                        <span ng-show="language === 'ro-MD'">Sortează după Dată</span>
                    </label>
                    <ul class="ac-small menu menu_lvl_2">
                       
                        <li class="menu_item" ng-class="{active: sortPropertyName === 'DateCreated' && sortReverse === false}" ng-click="setSortProperties('DateCreated', false)">
                            <span ng-show="language === 'ru-RU'">По возрастанию</span>
                            <span ng-show="language === 'en-US'">Ascending</span>
                            <span ng-show="language === 'ro-MD'">Ascendent</span>
                        </li>
                        <li class="menu_item" ng-class="{active: sortPropertyName === 'DateCreated' && sortReverse === true}" ng-click="setSortProperties('DateCreated', true)">
                            <span ng-show="language === 'ru-RU'">По убыванию</span>
                            <span ng-show="language === 'en-US'">Descending</span>
                            <span ng-show="language === 'ro-MD'">Descendent</span>
                        </li>
                    </ul>
                </div>
                <div class="menu_item">
                    <input id="ac-2" name="accordion-1" type="checkbox" />
                    <label for="ac-2">
                        <span ng-show="language === 'ru-RU'">Сортировка по Цене</span>
                        <span ng-show="language === 'en-US'">Sort by Price</span>
                        <span ng-show="language === 'ro-MD'">Sortează după Preț</span>
                    </label>
                    <ul class="ac-medium menu menu_lvl_2">
                        <li class="menu_item" ng-class="{active: sortPropertyName === 'Price' && sortReverse === false}" ng-click="setSortProperties('Price', false)">
                            <input type="radio" ng-model="sortObject.ByPrice" ng-value="asc">
                            <span ng-show="language === 'ru-RU'">По возрастанию</span>
                            <span ng-show="language === 'en-US'">Ascending</span>
                            <span ng-show="language === 'ro-MD'">Ascendent</span>
                        </li>
                        <li class="menu_item" ng-class="{active: sortPropertyName === 'Price' && sortReverse === true}" ng-click="setSortProperties('Price', true)">
                            <input type="radio" ng-model="sortObject.ByPrice" ng-value="desc">
                            <span ng-show="language === 'ru-RU'">По убыванию</span>
                            <span ng-show="language === 'en-US'">Descending</span>
                            <span ng-show="language === 'ro-MD'">Descendent</span>
                        </li>
                    </ul>
                </div>
                <div class="menu_item">
                    <input id="ac-3" name="accordion-1" type="checkbox" />
                    <label for="ac-3">
                        <span ng-show="language === 'ru-RU'">Сортировка по Товару</span>
                        <span ng-show="language === 'en-US'">Sort by Product Type</span>
                        <span ng-show="language === 'ro-MD'">Sortează după Produs</span>
                    </label>
                    <ul class="ac-large menu menu_lvl_2">
                        <li class="menu_item" ng-class="{active: typeSort.tshirts}" ng-click="byTypeSort('tshirts')">
                            <span ng-show="language === 'ru-RU'">Майки</span>
                            <span ng-show="language === 'en-US'">T-Shirts</span>
                            <span ng-show="language === 'ro-MD'">Camasi</span>
                        </li>
                        <li class="menu_item" ng-class="{active: typeSort.cup}" ng-click="byTypeSort('cup')">                            
                            <span ng-show="language === 'ru-RU'">Кружки</span>
                            <span ng-show="language === 'en-US'">Cups</span>
                            <span ng-show="language === 'ro-MD'">Cupe</span>
                        </li>
                        <li class="menu_item" ng-class="{active: typeSort.mousepad}" ng-click="byTypeSort('mousepad')">
                            <span ng-show="language === 'ru-RU'">Коврики</span>
                            <span ng-show="language === 'en-US'">Mousepads</span>
                            <span ng-show="language === 'ro-MD'">Covoare</span>
                        </li>
                    </ul>
                </div>
</section>
    </div>
    <div class="m_c_right m_c_item">
        <div class="products ">


            <a class="product" ng-repeat="art in artList | orderBy:sortPropertyName:sortReverse" ui-sref="art({artId: {{art.Id}}, fromUrl: '{{currentUrl}}'})">
                
                    <div class="p_image">
                        <img ng-src="{{imagesPath}}{{art.ThumbnailFileName}}" height="150" alt="">
                    </div>
                    <div class="p_name">
                        <div class="p_n_language" ng-show="language === 'ru-RU'">{{art.NameRus}}</div>
                        <div class="p_n_language" ng-show="language === 'en-US'">{{art.NameEng}}</div>
                        <div class="p_n_language" ng-show="language === 'ro-MD'">{{art.NameRom}}</div>
                        <div class="p_cost ">{{art.Price}} MDL</div>
                    </div>
                
            </a>


        </div>        
    </div>
</div>