@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 2, ../sass/header/_default.scss */
.h_r_block {
  float: right;
  *zoom: 1;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.h_r_block:after {
  content: "";
  display: table;
  clear: both;
}

/* line 7, ../sass/header/_default.scss */
.header_content {
  padding: 12px 5px 0;
}
/* line 10, ../sass/header/_default.scss */
.header_content ul.languages {
  display: inline-block;
  vertical-align: middle;
}
/* line 13, ../sass/header/_default.scss */
.header_content ul.languages li {
  display: inline-block;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;
}
/* line 18, ../sass/header/_default.scss */
.header_content ul.languages li:hover, .header_content ul.languages li.active {
  opacity: 1;
}
/* line 23, ../sass/header/_default.scss */
.header_content .logo {
  display: block;
  width: 250px;
  height: 50px;
}
/* line 28, ../sass/header/_default.scss */
.header_content .logo:hover, .header_content .logo.active {
  opacity: 1;
  /*background-image: image-url("ROGUE_hover.png");*/
}
/* line 33, ../sass/header/_default.scss */
.header_content .h_link {
  margin-left: 10px;
  vertical-align: middle;
  line-height: 47px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* line 41, ../sass/header/_default.scss */
.header_content .h_link > * {
  line-height: initial;
}
/* line 44, ../sass/header/_default.scss */
.header_content .h_link:not(.dropdown) {
  opacity: 0.8;
}
/* line 46, ../sass/header/_default.scss */
.header_content .h_link:not(.dropdown):hover, .header_content .h_link:not(.dropdown).active {
  opacity: 1;
}
/* line 52, ../sass/header/_default.scss */
.header_content .products {
  background-color: #232935;
  width: 300px;
  margin-left: -276px;
  z-index: 2;
  position: absolute;
  box-shadow: 0 0 12px black;
}
/* line 59, ../sass/header/_default.scss */
.header_content .products .product {
  cursor: pointer;
}
/* line 64, ../sass/header/_default.scss */
.header_content div[ui-sref=purchase] {
  width: calc(100% - 35px);
}

/* line 68, ../sass/header/_default.scss */
.navbar-static {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 1px solid rgba(255, 255, 255, 0.07);
}
/* line 71, ../sass/header/_default.scss */
.navbar-static .breadcrumb {
  width: 960px;
  margin: 0 auto;
  background-color: transparent;
  padding: 15px 20px;
  margin-bottom: 0;
}
/* line 80, ../sass/header/_default.scss */
.navbar-static .breadcrumb li:first-of-type:before {
  background-image: url('../images/iconmonstr-home-7-16.png?1485096668');
}
/* line 84, ../sass/header/_default.scss */
.navbar-static .breadcrumb li:before {
  margin-left: 5px;
  background-image: url('../images/iconmonstr-arrow-29-16.png?1485096668');
  width: 16px;
  height: 16px;
  content: "";
  display: inline-block;
  vertical-align: bottom;
}

/* line 1, ../sass/include/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../sass/include/_reset.scss */
body {
  color: #fff;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

/* line 12, ../sass/include/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 15, ../sass/include/_reset.scss */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* line 20, ../sass/include/_reset.scss */
input[type=checkbox] {
  display: none;
}

/* line 23, ../sass/include/_reset.scss */
.counter {
  color: gray;
}

/* line 26, ../sass/include/_reset.scss */
body, html {
  height: 100%;
}

/* line 29, ../sass/include/_reset.scss */
a, ins {
  text-decoration: none;
  color: inherit;
}

/* line 34, ../sass/include/_reset.scss */
input:focus, button:focus {
  outline: none;
}

/* line 3, ../sass/block/_defaul.scss */
.m_page {
  background-color: #161f2e;
  background-image: url("../images/dota2.jpg");
  /*background-attachment: fixed;*/
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background-image ease-out 0.25s;
  -webkit-transition: background-image ease-out 0.25s;
  -o-transition: background-image ease-out 0.25s;
  -moz-transition: background-image ease-out 0.25s;
  width: 100%;
}

/* line 17, ../sass/block/_defaul.scss */
.middle_content {
  *zoom: 1;
  padding: 25px 5px;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.middle_content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 21, ../sass/block/_defaul.scss */
.middle_content button {
  padding: 9px 30px;
  background-color: rgba(51, 122, 183, 0.4);
  color: #fff;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  opacity: 0.8;
}
/* line 29, ../sass/block/_defaul.scss */
.middle_content button[disabled=disabled] {
  color: #FF6F00;
  opacity: 1;
}
/* line 34, ../sass/block/_defaul.scss */
.middle_content button:hover {
  opacity: 1;
}
/* line 38, ../sass/block/_defaul.scss */
.middle_content button.active, .middle_content button[disabled="disabled"] {
  -moz-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  -webkit-box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  box-shadow: rgba(0, 0, 255, 0.4) 0 0 25px, rgba(0, 128, 0, 0.2) 0 0 3px 1px inset;
  background-color: #337ab7 !important;
  opacity: 1;
}

/* line 48, ../sass/block/_defaul.scss */
.m_c_item {
  float: left;
}

/* line 52, ../sass/block/_defaul.scss */
.m_c_left {
  width: 25%;
}
/* line 55, ../sass/block/_defaul.scss */
.m_c_left .counter {
  color: rgba(120, 120, 120, 0.75);
}
/* line 59, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right {
  width: 75%;
  padding-left: 30px;
}
/* line 63, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product {
  margin-top: 15px;
  box-shadow: 0 0 12px black;
  border: 1px solid rgba(255, 255, 255, 0.07);
  opacity: 0.8;
  float: left;
  width: calc((100% - 15px*2) / 3);
  margin-left: 15px;
  position: relative;
}
/* line 65, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product.games .p_name {
  min-height: auto;
}
/* line 70, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product:nth-of-type(-n+3) {
  margin-top: 0;
}
/* line 74, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product:nth-of-type(3n + 1) {
  clear: both;
  margin-left: 0;
}
/* line 88, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product > div {
  width: 100%;
}
/* line 92, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_name {
  bottom: 0;
  position: absolute;
  min-height: 88px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 100, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_n_language {
  margin-bottom: 10px;
}
/* line 104, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_cost {
  color: #337ab7;
  font-size: 24px;
  position: absolute;
  bottom: 7px;
}
/* line 111, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_image {
  float: none;
}
/* line 115, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product:hover {
  opacity: 1;
  cursor: pointer;
}
/* line 123, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom-width: 0;
}
/* line 129, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item.games {
  background-color: rgba(51, 122, 183, 0.4);
  padding: 10px 5px;
}
/* line 130, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item.games:hover {
  background-color: #337ab7;
}
/* line 132, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item.games:hover .counter {
  color: white;
}
/* line 140, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:last-of-type {
  border-bottom-width: 1px;
}
/* line 145, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item.search input[type=text] {
  padding: 10px 5px;
  width: 100%;
  background-color: transparent;
  border-width: 0;
  display: block;
  color: white;
}
/* line 61, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.m_c_left .menu .menu_item.search input[type=text]:-moz-placeholder {
  opacity: 1;
}
/* line 64, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.m_c_left .menu .menu_item.search input[type=text]::-moz-placeholder {
  opacity: 1;
}
/* line 67, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.m_c_left .menu .menu_item.search input[type=text]:-ms-input-placeholder {
  opacity: 1;
}
/* line 56, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
.m_c_left .menu .menu_item.search input[type=text]::-webkit-input-placeholder {
  opacity: 1;
}
/* line 159, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item input {
  display: none;
}
/* line 163, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:hover {
  border-color: white;
  opacity: 1;
}
/* line 168, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:hover + .menu_item {
  border-top-color: white;
}
/* line 176, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_1 input:checked ~ .menu_lvl_2 {
  display: block;
}
/* line 181, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_1 label {
  display: block;
  padding: 10px 5px;
  background-color: rgba(51, 122, 183, 0.4);
}
/* line 185, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_1 label:hover {
  background-color: #337ab7;
}
/* line 192, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 {
  border-top: 1px solid rgba(255, 255, 255, 0.07);
  margin-bottom: 10px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: none;
  padding-left: 10px;
}
/* line 201, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 .menu_item {
  border-color: transparent;
  border-width: 0;
  border-bottom-width: 1px;
  padding: 10px 5px;
  background-color: rgba(51, 122, 183, 0.4);
}
/* line 207, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 .menu_item:hover, .m_c_left .menu.menu_lvl_2 .menu_item.active {
  border-color: white;
  background-color: #337ab7;
}
/* line 221, ../sass/block/_defaul.scss */
.m_c_left ul ul {
  display: none;
  margin-top: 5px;
  padding-left: 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  border-top-width: 1px;
  clear: both;
  padding-bottom: 0;
}
/* line 232, ../sass/block/_defaul.scss */
.m_c_left ul > li {
  *zoom: 1;
      /*&.l{
  &:before{
    background-position: -25px 0;
  }
}
&.h{
  &:before {
    background-position: -50px 0;
  }
}
&.w_o_w{
  &:before {
    background-position: -75px 0;
  }
}
&.d{
  &:before {
    background-position: -100px 0;
  }
}
&.l_o_l{
  &:before{
    background-position: -125px 0;
  }
}
    */
  cursor: pointer;
  *zoom: 1;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  /*padding: 10px 5px;*/
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_left ul > li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 236, ../sass/block/_defaul.scss */
.m_c_left ul > li.active ul {
  display: block;
}
/* line 241, ../sass/block/_defaul.scss */
.m_c_left ul > li > span {
  padding: 5px;
}
/* line 270, ../sass/block/_defaul.scss */
.m_c_left ul > li.games {
  align-items: center;
  display: flex;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_left ul > li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 280, ../sass/block/_defaul.scss */
.m_c_left ul > li:last-of-type {
  border-bottom-width: 0;
}

/* line 287, ../sass/block/_defaul.scss */
.m_c_right {
  *zoom: 1;
  width: 100%;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_right:after {
  content: "";
  display: table;
  clear: both;
}
/* line 292, ../sass/block/_defaul.scss */
.m_c_right .product .p_name {
  font-size: 24px;
  width: 70%;
  padding-right: 10px;
}
/* line 298, ../sass/block/_defaul.scss */
.m_c_right .product .p_image {
  float: right;
  width: 30%;
}
/* line 302, ../sass/block/_defaul.scss */
.m_c_right .product .p_image .photo {
  cursor: pointer;
  margin-top: 5px;
  margin-right: 5px;
  width: calc((100% - 5px*3)/4);
  float: left;
}
/* line 308, ../sass/block/_defaul.scss */
.m_c_right .product .p_image .photo:nth-of-type(4n) {
  margin-right: 0;
}
/* line 312, ../sass/block/_defaul.scss */
.m_c_right .product .p_image img {
  width: 100%;
  cursor: pointer;
}
/* line 313, ../sass/block/_defaul.scss */
.m_c_right .product .p_image img:not(.active) {
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 322, ../sass/block/_defaul.scss */
.m_c_right .total_cost {
  text-shadow: 1px 1px 1px white;
  font-size: 24px;
  color: #337ab7;
  margin: 40px 0;
}

/* line 333, ../sass/block/_defaul.scss */
.menu_lvl_1 > div {
  cursor: pointer;
  *zoom: 1;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  /*padding: 10px 5px;*/
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.menu_lvl_1 > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 339, ../sass/block/_defaul.scss */
.menu_lvl_1 > div:last-of-type {
  border-bottom-width: 0;
}

/* line 345, ../sass/block/_defaul.scss */
.footer_block {
  padding: 10px 0;
  font-size: 16px;
}
/* line 348, ../sass/block/_defaul.scss */
.footer_block .help {
  position: relative;
}
/* line 349, ../sass/block/_defaul.scss */
.footer_block .help > * {
  padding-left: 26px;
}
/* line 353, ../sass/block/_defaul.scss */
.footer_block .help:before {
  background-image: url('../images/question.png?1485096668');
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
/* line 363, ../sass/block/_defaul.scss */
.footer_block .title {
  font-weight: bold;
}
/* line 366, ../sass/block/_defaul.scss */
.footer_block p, .footer_block .title {
  margin-bottom: 1em;
}
/* line 370, ../sass/block/_defaul.scss */
.footer_block p:hover {
  color: #337AB7;
}
/* line 374, ../sass/block/_defaul.scss */
.footer_block .footer_content {
  padding: 5px;
  *zoom: 1;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.footer_block .footer_content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 377, ../sass/block/_defaul.scss */
.footer_block .footer_content > * {
  width: 25%;
  float: left;
}
/* line 380, ../sass/block/_defaul.scss */
.footer_block .footer_content > *.social_links {
  width: 30%;
  float: left;
}
/* line 384, ../sass/block/_defaul.scss */
.footer_block .footer_content > *.dropup {
  width: 20%;
}
/* line 392, ../sass/block/_defaul.scss */
.footer_block .btn {
  float: right;
  font-size: 18px;
  color: white;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  line-height: 16px;
  padding: 0;
}
/* line 394, ../sass/block/_defaul.scss */
.footer_block .btn:focus {
  outline: none;
}
/* line 397, ../sass/block/_defaul.scss */
.footer_block .btn:before {
  display: block;
  content: "";
  float: left;
  width: 16px;
  height: 16px;
  background-image: url('../images/planet.png?1485096668');
  margin-right: 5px;
}
/* line 416, ../sass/block/_defaul.scss */
.footer_block .dropdown-menu {
  margin-bottom: 20px !important;
  left: calc(100% - 170px);
  padding: 20px 0;
  box-shadow: 0 0 12px black;
  border: 1px solid rgba(255, 255, 255, 0.07);
  background-color: #232935 !important;
  min-width: 170px;
}
/* line 417, ../sass/block/_defaul.scss */
.footer_block .dropdown-menu a {
  color: white !important;
}
/* line 418, ../sass/block/_defaul.scss */
.footer_block .dropdown-menu a:hover {
  background: rgba(255, 255, 255, 0.05) !important;
}
/* line 423, ../sass/block/_defaul.scss */
.footer_block .dropdown-menu .title {
  padding: 3px 20px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.3);
}

/* line 440, ../sass/block/_defaul.scss */
.social_links a {
  display: inline-block;
  width: 32px;
  height: 32px;
}
/* line 446, ../sass/block/_defaul.scss */
.social_links a.fb {
  background-image: url('../images/facebook.png?1485096668');
}
/* line 450, ../sass/block/_defaul.scss */
.social_links a.vk {
  background-image: url('../images/vk.png?1485096668');
}
/* line 454, ../sass/block/_defaul.scss */
.social_links a.in {
  background-image: url('../images/instagram.png?1485096668');
}

/* line 460, ../sass/block/_defaul.scss */
.accordion {
  line-height: 1.5;
  margin: 0;
  margin-bottom: 1.5rem;
  padding: 0;
  list-style: none;
}
/* line 461, ../sass/block/_defaul.scss */
.accordion h5 {
  font-size: 25px;
  font-weight: bold;
}

/* line 472, ../sass/block/_defaul.scss */
.accordion_item:last-of-type {
  border-bottom: none;
}

/**
* ▌ыхьхэЄ label ъюЄюЁ√щ чряєёърхЄ юЄъЁ√Є№/чръЁ√Є№.
*/
/* line 478, ../sass/block/_defaul.scss */
.accordion_trigger {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ddd;
  font-weight: normal;
  cursor: pointer;
  padding: 1.2em;
}

/* ьхэ хь ЎтхЄ Їюэр є ръЄштэюую яхЁхъы■ўрЄхы  */
/* line 489, ../sass/block/_defaul.scss */
.accordion_toggle:checked ~ .accordion_trigger {
  background-color: rgba(0, 0, 0, 0.9);
}

/**
 * ¤Єш ¤ыхьхэЄ√ radio/checkbox тёхуфр фюыцэ√ с√Є№ ёъЁ√Є√.
 */
/* line 496, ../sass/block/_defaul.scss */
.accordion_toggle {
  position: absolute;
  display: none;
}

/**
* ёъЁ√Єюх ёюфхЁцрэшх ръъюЁфхюэр.
*/
/* line 503, ../sass/block/_defaul.scss */
.accordion_target {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/**
* ъюуфр яхЁхъы■ўрЄхы№ checked эр radio/checkbox, яюърчрЄ№ ёюфхЁцшьюх ръъюЁфхюэр.
*/
/* line 517, ../sass/block/_defaul.scss */
.accordion_toggle:checked ~ .accordion_target {
  position: static;
  overflow: visible;
  clip: auto;
  margin: auto;
  padding: 1.2rem;
  width: auto;
  height: auto;
  /* чрфхЁцър яю тыхэш   ЇєэъЎш  рэшьрЎшш */
  -webkit-animation: fadeIn ease-in 0.5s;
  -moz-animation: fadeIn ease-in 0.5s;
  animation: fadeIn ease-in 0.5s;
}

/* рэшьрЎш  яЁш яю тыхэшш сыюъют ё ёюфхЁцрэшхь */
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 545, ../sass/block/_defaul.scss */
.dropdown-menu {
  padding: 0 !important;
  background-color: black !important;
}
/* line 546, ../sass/block/_defaul.scss */
.dropdown-menu a {
  color: white !important;
}
/* line 547, ../sass/block/_defaul.scss */
.dropdown-menu a:hover {
  background-color: rgba(51, 122, 183, 0.4) !important;
}

/* line 560, ../sass/block/_defaul.scss */
.btn-success {
  width: 100%;
  border-width: 0 !important;
  background-color: #337ab7 !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 1, ../sass/include/_slider.scss */
.slider-wrap {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

/* line 6, ../sass/include/_slider.scss */
.slider {
  max-width: 1920px;
  height: 300px;
  margin: 0 auto;
  position: relative;
}

/* line 13, ../sass/include/_slider.scss */
.slide1, .slide2, .slide3, .slide4, .slide5 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 22, ../sass/include/_slider.scss */
.slide1 {
  background-image: url('../images/header_dota2.png?1478798641');
  background-size: cover;
  animation: fade 8s infinite;
  -webkit-animation: fade 8s infinite;
}

/* line 29, ../sass/include/_slider.scss */
.slide2 {
  background-image: url('../images/header_hearthstone.png?1478798641');
  background-size: cover;
  animation: fade2 8s infinite;
  -webkit-animation: fade2 8s infinite;
}

/* line 35, ../sass/include/_slider.scss */
.slide3 {
  background-image: url('../images/header_lol.png?1478798641');
  background-size: cover;
  animation: fade3 8s infinite;
  -webkit-animation: fade3 8s infinite;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 1;
  }
  66.666% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade3 {
  0% {
    opacity: 0;
  }
  33.333% {
    opacity: 0;
  }
  66.666% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* Dropdown button on hover & focus */
/* The container <div> - needed to position the dropdown content */
/* line 4, ../sass/include/_dropDownMenu.scss */
.dropdown {
  position: relative;
  display: inline-block;
  /*&:hover{
     > .ng-binding{color: #FF6F00;}
     .dropbtn{
         background-image: image-url('iconmonstr-shopping-bag-17-24-hover.png');
     }
  }*/
}
/* line 8, ../sass/include/_dropDownMenu.scss */
.dropdown .empty_field {
  max-height: 44px;
}
/* line 11, ../sass/include/_dropDownMenu.scss */
.dropdown .dropbtn {
  background-image: url('../images/iconmonstr-shopping-bag-17-24.png?1478798641');
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  opacity: 0.8;
}
/* line 19, ../sass/include/_dropDownMenu.scss */
.dropdown .dropbtn + span {
  opacity: 0.8;
}
/* line 22, ../sass/include/_dropDownMenu.scss */
.dropdown .dropbtn:hover, .dropdown .dropbtn:focus {
  opacity: 1;
  /*background-image: image-url('iconmonstr-shopping-bag-17-24-hover.png');
  + span{
      color: #FF6F00;
  }*/
}
/* line 24, ../sass/include/_dropDownMenu.scss */
.dropdown .dropbtn:hover + span, .dropdown .dropbtn:focus + span {
  opacity: 1;
}
/* line 39, ../sass/include/_dropDownMenu.scss */
.dropdown .ng-binding {
  line-height: 24px;
}

/* Dropdown Content (Hidden by Default) */
/* line 45, ../sass/include/_dropDownMenu.scss */
.dropdown-content {
  display: none;
}

/* Links inside the dropdown */
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
/* line 50, ../sass/include/_dropDownMenu.scss */
.show {
  display: block;
}

/* line 1, ../sass/include/_products.scss */
.products {
  *zoom: 1;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.products:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/include/_products.scss */
.products .product {
  /*margin-top: 15px;
  &:nth-of-type(-n+3){
    margin-top: 0;
  }*/
}
/* line 6, ../sass/include/_products.scss */
.products .product .dropdown {
  margin-top: 40px;
}
/* line 10, ../sass/include/_products.scss */
.products .product button {
  font-size: 18px;
  padding: 9px 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  border-color: transparent;
  box-shadow: 0 0 transparent;
  opacity: 0.8;
}
/* line 18, ../sass/include/_products.scss */
.products .product button[disabled=disabled] {
  opacity: 1;
}
/* line 21, ../sass/include/_products.scss */
.products .product button:hover, .products .product button.active {
  opacity: 1;
}
/* line 25, ../sass/include/_products.scss */
.products .product div {
  font-size: 18px;
}
/* line 30, ../sass/include/_products.scss */
.products .product.games .p_image img {
  width: 147px;
  height: 147px;
  margin: 0 auto;
}
/* line 43, ../sass/include/_products.scss */
.products .product .p_cost {
  text-shadow: 1px 1px 1px white;
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}
/* line 51, ../sass/include/_products.scss */
.products .product .p_description {
  line-height: 1.5;
  margin-top: 40px;
}
/* line 55, ../sass/include/_products.scss */
.products .product .p_buy {
  margin-top: 40px;
  cursor: pointer;
  background-color: rgba(51, 122, 183, 0.4);
}
/* line 59, ../sass/include/_products.scss */
.products .product .p_buy:hover {
  background-color: #337ab7;
}
/* line 66, ../sass/include/_products.scss */
.products.buy .p_name {
  line-height: 24px;
  width: auto;
  white-space: nowrap;
  /* ╟ряЁх∙рхь яхЁхэюё ёЄЁюъ */
  overflow: hidden;
  /* ╬сЁхчрхь тёх, ўЄю эх яюьх∙рхЄё  т юсырёЄ№ */
  text-overflow: ellipsis;
  /* ─юсрты хь ьэюуюЄюўшх */
  opacity: 0.8;
}
/* line 74, ../sass/include/_products.scss */
.products.buy .p_name:hover {
  opacity: 1;
}
/* line 80, ../sass/include/_products.scss */
.products.buy.dropdown-content .product:nth-last-of-type(2) {
  border-bottom-width: 1px;
}
/* line 85, ../sass/include/_products.scss */
.products.buy .product {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-bottom-width: 0;
  *zoom: 1;
}
/* line 87, ../sass/include/_products.scss */
.products.buy .product > * {
  padding: 10px 0;
}
/* line 89, ../sass/include/_products.scss */
.products.buy .product > *:first-of-type {
  padding-left: 5px;
}
/* line 92, ../sass/include/_products.scss */
.products.buy .product > *:last-of-type {
  padding-right: 5px;
}
/* line 98, ../sass/include/_products.scss */
.products.buy .product.empty_field {
  padding: 10px 5px;
}
/* line 101, ../sass/include/_products.scss */
.products.buy .product:last-of-type {
  border-bottom-width: 1px;
}
/* line 104, ../sass/include/_products.scss */
.products.buy .product:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
/* line 106, ../sass/include/_products.scss */
.products.buy .product:hover + .product {
  border-top-color: rgba(255, 255, 255, 0.9);
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.products.buy .product:after {
  content: "";
  display: table;
  clear: both;
}
/* line 111, ../sass/include/_products.scss */
.products.buy .product > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 115, ../sass/include/_products.scss */
.products.buy .product .p_disabled {
  display: inline-block;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/iconmonstr-recycling-6-24.png?1477225287');
  cursor: pointer;
  width: 29px;
  height: 44px;
  float: right;
  opacity: 0.8;
}
/* line 126, ../sass/include/_products.scss */
.products.buy .product .p_disabled:hover {
  opacity: 1;
}
/* line 131, ../sass/include/_products.scss */
.products.buy .product .p_image {
  margin-right: 5px;
  float: left;
  width: auto;
}
/* line 135, ../sass/include/_products.scss */
.products.buy .product .p_image img {
  width: 24px;
  height: 24px;
}

/* line 144, ../sass/include/_products.scss */
.page_droduct {
  /*@include pie-clearfix;
  margin-top: 15px;
  clear: both;
  float: left;
  width: 100%;*/
  margin: 0 auto;
}
/* line 152, ../sass/include/_products.scss */
.page_droduct > div {
  display: inline;
  cursor: pointer;
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}
/* line 158, ../sass/include/_products.scss */
.page_droduct > div:hover {
  border-color: rgba(255, 255, 255, 0.4);
}

/* line 4, ../sass/block/_admin.scss */
.admin .request-content {
  width: calc(50% - 10px);
  float: left;
}
/* line 7, ../sass/block/_admin.scss */
.admin .request-content:nth-of-type(2n + 1) {
  margin-right: 20px;
}
/* line 10, ../sass/block/_admin.scss */
.admin .request-content > * {
  margin-bottom: 10px;
  clear: both;
}
/* line 16, ../sass/block/_admin.scss */
.admin .name, .admin .price {
  width: calc(100% - 60px);
  float: left;
  font-weight: bold;
  margin-bottom: 5px;
}
/* line 22, ../sass/block/_admin.scss */
.admin .img {
  float: left;
  margin-right: 10px;
}
/* line 25, ../sass/block/_admin.scss */
.admin .img img {
  width: 50px !important;
  height: 50px !important;
}
/* line 30, ../sass/block/_admin.scss */
.admin .title {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 35, ../sass/block/_admin.scss */
.admin .product {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0;
}
/* line 37, ../sass/block/_admin.scss */
.admin .product button span {
  padding-bottom: 0;
}
/* line 41, ../sass/block/_admin.scss */
.admin .product:last-of-type {
  border-top-width: 0;
  padding-top: 0;
}
/* line 48, ../sass/block/_admin.scss */
.admin .product span {
  display: block;
  padding-bottom: 4px;
}
/* line 51, ../sass/block/_admin.scss */
.admin .product span:last-of-type {
  padding-bottom: 0;
}
/* line 59, ../sass/block/_admin.scss */
.admin .product > div {
  width: calc(50% - 2px);
  display: inline-block;
  vertical-align: top;
}
/* line 65, ../sass/block/_admin.scss */
.admin .product img {
  width: 24px;
  height: 24px;
}
/* line 71, ../sass/block/_admin.scss */
.admin .user_info span {
  text-align: center;
}
/* line 77, ../sass/block/_admin.scss */
.admin .art_info > * {
  display: inline-block;
  vertical-align: middle;
}
/* line 81, ../sass/block/_admin.scss */
.admin .art_info .art_name {
  width: calc(100% - 29px);
}
/* line 87, ../sass/block/_admin.scss */
.admin .description, .admin .description + * {
  clear: both;
}

/* line 93, ../sass/block/_admin.scss */
.login {
  max-width: 430px;
  margin: 0 auto;
}

/* line 98, ../sass/block/_admin.scss */
.user {
  clear: both;
  max-width: 600px;
  margin: 50px auto 0;
  /*.full_name, .phone{
      width: calc(50% - 3px);
      display: inline-block;
  }*/
}

/* line 109, ../sass/block/_admin.scss */
form .mesh {
  padding: 0 10px 10px 10px;
}
/* line 112, ../sass/block/_admin.scss */
form .mesh > div {
  *zoom: 1;
  margin-bottom: 10px;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
form .mesh > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 118, ../sass/block/_admin.scss */
form textarea {
  padding: 5px 10px;
  width: calc((100% - 20px)/ 3);
  margin-right: 10px;
  max-width: calc(100% / 3);
  min-height: 100px;
  float: left;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
/* line 123, ../sass/block/_admin.scss */
form textarea:last-of-type {
  margin-right: 0;
}
/* line 134, ../sass/block/_admin.scss */
form .title {
  padding: 5px 0;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
/* line 140, ../sass/block/_admin.scss */
form input[type=text], form input[type=submit], form input[type=password], form input[type=file] {
  padding: 5px 10px;
  min-height: 40px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 10px;
}
/* line 61, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
form input[type=text]:-moz-placeholder, form input[type=submit]:-moz-placeholder, form input[type=password]:-moz-placeholder, form input[type=file]:-moz-placeholder {
  opacity: 1;
}
/* line 64, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
form input[type=text]::-moz-placeholder, form input[type=submit]::-moz-placeholder, form input[type=password]::-moz-placeholder, form input[type=file]::-moz-placeholder {
  opacity: 1;
}
/* line 67, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
form input[type=text]:-ms-input-placeholder, form input[type=submit]:-ms-input-placeholder, form input[type=password]:-ms-input-placeholder, form input[type=file]:-ms-input-placeholder {
  opacity: 1;
}
/* line 56, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/css3/_user-interface.scss */
form input[type=text]::-webkit-input-placeholder, form input[type=submit]::-webkit-input-placeholder, form input[type=password]::-webkit-input-placeholder, form input[type=file]::-webkit-input-placeholder {
  opacity: 1;
}
/* line 145, ../sass/block/_admin.scss */
form input[type=text]:hover, form input[type=text]:focus, form input[type=submit]:hover, form input[type=submit]:focus, form input[type=password]:hover, form input[type=password]:focus, form input[type=file]:hover, form input[type=file]:focus {
  color: white;
}
/* line 158, ../sass/block/_admin.scss */
form select {
  margin-bottom: 10px;
}
/* line 159, ../sass/block/_admin.scss */
form select option {
  padding: 5px 10px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.7);
}
/* line 160, ../sass/block/_admin.scss */
form select option:hover, form select option:focus {
  color: white;
}

/* line 179, ../sass/block/_admin.scss */
.nav-tabs li {
  width: calc(100%/3);
  float: left;
}
/* line 184, ../sass/block/_admin.scss */
.nav-tabs li.active a, .nav-tabs li:hover a {
  cursor: pointer;
  opacity: 1;
  border-bottom-color: white !important;
  color: white !important;
  background-color: rgba(51, 122, 183, 0.4) !important;
}
/* line 194, ../sass/block/_admin.scss */
.nav-tabs a {
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}

/* line 18, ../sass/screen.scss */
.main_page {
  position: relative;
  min-height: calc(100% - 60px);
}

/* line 22, ../sass/screen.scss */
.middle_content, .header_content, .footer_content {
  position: relative;
  width: 960px;
  margin: 0 auto;
}

/* line 28, ../sass/screen.scss */
.header_block {
  background-color: rgba(0, 0, 0, 0.7);
}
