/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 1, ../sass/header/_default.scss */
.header_block {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}

/* line 4, ../sass/header/_default.scss */
.header_content {
  padding: 0 5px;
}
/* line 6, ../sass/header/_default.scss */
.header_content .h_link {
  vertical-align: middle;
  padding: 20px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
/* line 7, ../sass/header/_default.scss */
.header_content .h_link.games {
  width: 120px;
  height: 20px;
  padding: 0;
}
/* line 13, ../sass/header/_default.scss */
.header_content .h_link.shop {
  background-image: url('../images/iconmonstr-checkout-1-24.png?1473670846');
  width: 24px;
  height: 24px;
  padding: 0;
  float: right;
  margin-top: 20px;
}
/* line 27, ../sass/header/_default.scss */
.header_content .h_link:hover, .header_content .h_link.active {
  color: white;
}
/* line 31, ../sass/header/_default.scss */
.header_content .products {
  width: 200px;
  margin-top: 28px;
  margin-left: -176px;
  z-index: 2;
  position: relative;
}
/* line 37, ../sass/header/_default.scss */
.header_content .products .product {
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom-width: 0;
  *zoom: 1;
}
/* line 41, ../sass/header/_default.scss */
.header_content .products .product:last-of-type {
  border-bottom-width: 1px;
}
/* line 44, ../sass/header/_default.scss */
.header_content .products .product:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
/* line 46, ../sass/header/_default.scss */
.header_content .products .product:hover + .product {
  border-top-color: rgba(255, 255, 255, 0.4);
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.header_content .products .product:after {
  content: "";
  display: table;
  clear: both;
}
/* line 51, ../sass/header/_default.scss */
.header_content .products .product > div {
  display: inline-block;
  vertical-align: middle;
}
/* line 56, ../sass/header/_default.scss */
.header_content .products .product .p_image img {
  width: 24px;
  height: 24px;
}
/* line 61, ../sass/header/_default.scss */
.header_content .products .product .p_disabled {
  float: right;
  background-image: url('../images/iconmonstr-recycling-6-24.png?1473670889');
  width: 24px;
  height: 24px;
}

/* line 1, ../sass/include/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, ../sass/include/_reset.scss */
body {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

/* line 11, ../sass/include/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 14, ../sass/include/_reset.scss */
img {
  display: block;
}

/* line 3, ../sass/block/_defaul.scss */
.products {
  *zoom: 1;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.products:after {
  content: "";
  display: table;
  clear: both;
}
/* line 5, ../sass/block/_defaul.scss */
.products .page_droduct {
  *zoom: 1;
  display: none;
  margin-top: 15px;
  clear: both;
  float: left;
  width: 100%;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.products .page_droduct:after {
  content: "";
  display: table;
  clear: both;
}
/* line 12, ../sass/block/_defaul.scss */
.products .page_droduct > div {
  cursor: pointer;
  padding: 10px 5px;
  border: 1px solid rgba(255, 255, 255, 0.07);
}
/* line 16, ../sass/block/_defaul.scss */
.products .page_droduct > div:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
/* line 19, ../sass/block/_defaul.scss */
.products .page_droduct > div.button_next {
  float: left;
}
/* line 22, ../sass/block/_defaul.scss */
.products .page_droduct > div.button_back {
  float: right;
}
/* line 27, ../sass/block/_defaul.scss */
.products .product {
  margin-top: 15px;
}
/* line 28, ../sass/block/_defaul.scss */
.products .product div {
  font-size: 18px;
}
/* line 33, ../sass/block/_defaul.scss */
.products .product.games .p_image img {
  width: 147px;
  height: 147px;
  margin: 0 auto;
}
/* line 42, ../sass/block/_defaul.scss */
.products .product:nth-of-type(-n+3) {
  margin-top: 0;
}
/* line 46, ../sass/block/_defaul.scss */
.products .product:nth-of-type(9) + .page_droduct {
  display: block;
}

/* line 52, ../sass/block/_defaul.scss */
.m_page {
  background-image: url('../images/41101825-game-wallpapers.jpg?1472624671');
  width: 100%;
}
/* line 55, ../sass/block/_defaul.scss */
.m_page.dota2 {
  background-image: url('../images/dota_2_art_2014_logotip_97476_1920x1080.jpg?1472625437');
}

/* line 59, ../sass/block/_defaul.scss */
.middle_content {
  *zoom: 1;
  padding: 25px;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.middle_content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/block/_defaul.scss */
.m_c_item {
  float: left;
}

/* line 66, ../sass/block/_defaul.scss */
.m_c_left {
  width: 20%;
}
/* line 68, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right {
  width: 80%;
}
/* line 70, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product {
  box-shadow: 0 0 12px black;
  border: 1px solid rgba(255, 255, 255, 0.07);
  opacity: 0.8;
  float: left;
  width: calc((100% - 15px*3) / 3);
  margin-left: 15px;
}
/* line 77, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product > div {
  width: 100%;
}
/* line 80, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_name {
  padding: 7px;
  background-color: rgba(0, 130, 92, 0.4);
}
/* line 84, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product .p_image {
  float: none;
}
/* line 87, ../sass/block/_defaul.scss */
.m_c_left + .m_c_right .product:hover {
  opacity: 1;
  cursor: pointer;
}
/* line 94, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item {
  border: 1px solid rgba(255, 255, 255, 0.07);
  border-bottom-width: 0;
}
/* line 97, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:last-of-type {
  border-bottom-width: 1px;
}
/* line 100, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:hover {
  border-color: rgba(255, 255, 255, 0.4);
}
/* line 102, ../sass/block/_defaul.scss */
.m_c_left .menu .menu_item:hover + .menu_item {
  border-top-color: rgba(255, 255, 255, 0.4);
}
/* line 108, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_1 input {
  display: none;
}
/* line 110, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_1 input:checked ~ .menu_lvl_2 {
  display: block;
}
/* line 115, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 {
  border-top: 1px solid white;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  z-index: 10;
  display: none;
}
/* line 122, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 .menu_item {
  border-color: transparent;
  border-width: 0;
  border-bottom-width: 1px;
}
/* line 126, ../sass/block/_defaul.scss */
.m_c_left .menu.menu_lvl_2 .menu_item:hover, .m_c_left .menu.menu_lvl_2 .menu_item.active {
  border-color: rgba(255, 255, 255, 0.4);
}
/* line 139, ../sass/block/_defaul.scss */
.m_c_left ul ul {
  display: none;
  margin-top: 5px;
  padding-left: 15px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-width: 0;
  border-top-width: 1px;
  clear: both;
  padding-bottom: 0;
}
/* line 149, ../sass/block/_defaul.scss */
.m_c_left ul > li {
  *zoom: 1;
  cursor: pointer;
  *zoom: 1;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  padding: 10px 5px;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_left ul > li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 152, ../sass/block/_defaul.scss */
.m_c_left ul > li.active ul {
  display: block;
}
/* line 156, ../sass/block/_defaul.scss */
.m_c_left ul > li > span {
  padding: 5px;
}
/* line 160, ../sass/block/_defaul.scss */
.m_c_left ul > li.l:before {
  background-position: -25px 0;
}
/* line 165, ../sass/block/_defaul.scss */
.m_c_left ul > li.h:before {
  background-position: -50px 0;
}
/* line 170, ../sass/block/_defaul.scss */
.m_c_left ul > li.w_o_w:before {
  background-position: -75px 0;
}
/* line 175, ../sass/block/_defaul.scss */
.m_c_left ul > li.d:before {
  background-position: -100px 0;
}
/* line 180, ../sass/block/_defaul.scss */
.m_c_left ul > li.l_o_l:before {
  background-position: -125px 0;
}
/* line 184, ../sass/block/_defaul.scss */
.m_c_left ul > li.games {
  align-items: center;
  display: flex;
}
/* line 187, ../sass/block/_defaul.scss */
.m_c_left ul > li.games:before {
  display: block;
  float: left;
  content: "";
  background-image: url('../images/Logo/sprite.png?1472625437');
  width: 25px;
  height: 25px;
  margin-right: 5px;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_left ul > li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 202, ../sass/block/_defaul.scss */
.m_c_left ul > li:last-of-type {
  border-bottom-width: 0;
}

/* line 208, ../sass/block/_defaul.scss */
.m_c_right {
  *zoom: 1;
  width: 100%;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.m_c_right:after {
  content: "";
  display: table;
  clear: both;
}
/* line 212, ../sass/block/_defaul.scss */
.m_c_right .product .p_name {
  width: 50%;
}
/* line 215, ../sass/block/_defaul.scss */
.m_c_right .product .p_image {
  float: right;
  width: 50%;
}
/* line 218, ../sass/block/_defaul.scss */
.m_c_right .product .p_image img {
  width: 100%;
}

/* line 225, ../sass/block/_defaul.scss */
#slider {
  margin: 0 auto;
  min-height: 300px;
  width: 100%;
  position: relative;
}
/* line 230, ../sass/block/_defaul.scss */
#slider article {
  background-color: black;
}
/* line 232, ../sass/block/_defaul.scss */
#slider article img {
  display: block;
  width: 960px;
  margin-left: calc((100% - 943px) / 2);
}
/* line 239, ../sass/block/_defaul.scss */
#slider:hover #slide1:checked ~ #controls label:nth-child(2),
#slider:hover #slide2:checked ~ #controls label:nth-child(3),
#slider:hover #slide3:checked ~ #controls label:nth-child(4),
#slider:hover #slide4:checked ~ #controls label:nth-child(5),
#slider:hover #slide5:checked ~ #controls label:nth-child(1) {
  float: right;
  display: block;
}
/* line 244, ../sass/block/_defaul.scss */
#slider:hover #slide1:checked ~ #controls label:nth-child(2) span,
#slider:hover #slide2:checked ~ #controls label:nth-child(3) span,
#slider:hover #slide3:checked ~ #controls label:nth-child(4) span,
#slider:hover #slide4:checked ~ #controls label:nth-child(5) span,
#slider:hover #slide5:checked ~ #controls label:nth-child(1) span {
  background-position: -50px -26px;
}
/* line 250, ../sass/block/_defaul.scss */
#slider:hover #slide1:checked ~ #controls label:nth-child(5),
#slider:hover #slide2:checked ~ #controls label:nth-child(1),
#slider:hover #slide3:checked ~ #controls label:nth-child(2),
#slider:hover #slide4:checked ~ #controls label:nth-child(3),
#slider:hover #slide5:checked ~ #controls label:nth-child(4) {
  float: left;
  display: block;
}
/* line 255, ../sass/block/_defaul.scss */
#slider:hover #slide1:checked ~ #controls label:nth-child(5) span,
#slider:hover #slide2:checked ~ #controls label:nth-child(1) span,
#slider:hover #slide3:checked ~ #controls label:nth-child(2) span,
#slider:hover #slide4:checked ~ #controls label:nth-child(3) span,
#slider:hover #slide5:checked ~ #controls label:nth-child(4) span {
  background-position: -10px -26px;
}

/* line 263, ../sass/block/_defaul.scss */
#controls {
  *zoom: 1;
  width: 100%;
  max-width: 960px;
  margin: -185px auto 0;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
#controls:after {
  content: "";
  display: table;
  clear: both;
}
/* line 268, ../sass/block/_defaul.scss */
#controls label {
  padding: 23px 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 269, ../sass/block/_defaul.scss */
#controls label span {
  background-image: url('../images/imageControl.png?1472625437');
  display: block;
  width: 16px;
  height: 24px;
  opacity: 0.3;
}

/* line 285, ../sass/block/_defaul.scss */
.menu_lvl_1 > div {
  cursor: pointer;
  *zoom: 1;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  padding: 10px 5px;
}
/* line 38, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/general/_clearfix.scss */
.menu_lvl_1 > div:after {
  content: "";
  display: table;
  clear: both;
}
/* line 291, ../sass/block/_defaul.scss */
.menu_lvl_1 > div:last-of-type {
  border-bottom-width: 0;
}

@keyframes toggle {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  18% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 14, ../sass/screen.scss */
.main_page .middle_content, .main_page .header_content {
  width: 960px;
  margin: 0 auto;
}
