<div class="slider-wrap">
    <div class='slider'>
        <div class='slide1'></div>
        <div class='slide2'></div>
        <div class='slide3'></div>
    </div>
</div>
<div class="middle_content m_c_items">
    <div class="m_c_left m_c_item">
        <ul class="menu menu_lvl_1">
            <li class="menu_item games" ng-repeat="game in gameList" ui-sref="shop({gameId: {{game.Id}}})"><img width="30" style="padding-right:5px" ng-src="images/Logo/{{game.LogoFileName}}" />{{game.NameEng}} <span class="counter">({{game.ArtCount}})</span></li>
        </ul>
    </div>
    <div class="m_c_right m_c_item">
        <div class="products">           
            <div class="product games" ng-repeat="game in gameList" ui-sref="shop({gameId: {{game.Id}}})">
                <div class="p_image">
                    <img ng-src="images/Logo/{{game.LogoFileName}}" alt="">
                </div>
                <div class="p_name">{{game.NameEng}}</div>
            </div>

        </div>
    </div>
</div>